{% extends 'base.html' %}
    {% block content %}

        <h1>List of Beers in Collection</h1>

        {% for beer in all_beers %}
        <div class="card">
            <a class="card-content" href="{% url 'details' beer.id %}"
                <div class="card-content">
                <span class="card-title">{{ beer.brewery }}</span>
                <p>Name: {{ beer.name }}</p>
                <p>Style: {{ beer.style }}</p>
                {% if beer.abv < 8.0 %}
                    <p>ABV: {{ beer.abv }}%</p>
                {% else %}
                    <p>High Gravity: {{beer.abv}}% ABV</p>
                {% endif %}
                <a href={{beer.url_site}} target="_blank">{{beer.brewery}}</a>
                </div>
            </a>
        </div>
        {% endfor %}

    {% endblock %}